@import url('https://fonts.googleapis.com2/css? family=Barlow+Condensed:wght@200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto:wght@300;400;500;700;900&display=swap');



*,
*::before,
*::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

body,
html{
    font-family: 'Barlow Condensed', sans-serif;
    color: rgb(15, 15, 124);
    font-size: 0.75rem;
    font-weight: 400;
    scroll-behavior: smooth;
    line-height: 1.5;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: white;
}

::-webkit-scrollbar-thumb{
    background: gold;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* 
a:hover{
    color: white !important;
} */

.about .banner_section,
.FAQs .banner_section,
.contact .banner_section{
    background-image: url(../images/no_9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 17rem;
    padding-bottom: 10rem;
    min-height: auto;
}
/* header section */
.header{
    position: absolute;
    width: 100%;
    top: 2rem;
    left: 0;
    z-index: 2;
}

.header .navbar{
    background-color: gold;
    padding: 2rem 4rem;
}

.header .navbar-brand{
    width: 8rem;
    font-size: 2rem;
    font-weight: 900;
    font-variant: small-caps;
    margin-top: -0.1rem;
    color: rgb(11, 3, 61);
    letter-spacing: -0.2rem;
}

.header .navbar-toggler{
    font-size: 2rem;
    height: 2.7rem;
    padding: 0;
    color: darkblue;
}

.header .navbar-toggler:focus{
    outline: none;
    box-shadow: none;
    border: none;
}

.header .navbar-nav .nav-link{
    color: rgb(15, 15, 124);
    font-size: 1.6rem;
    font-weight: 600;
    font-variant: small-caps;
    padding: 0.5rem 2rem;
    margin: 0 0.2rem;
}


.header-scrolled{
    position: fixed;
    top: -0.4rem;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1320px;
    margin: auto;
    z-index: 999;
    transition: 0.3s all ease-in-out;
}

/* Banner Section */
.banner_section{
    background-image: url(../images/no_10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 90vh;
}

.banner_section .carousel-item{
    padding: 3rem 0;
    height: 90vh;
}

.banner_section .carousel-caption{
    top: 30%;
    bottom: 0;
    left: 3%;
    right: 0;
    text-align: left;
    width: 100%;
}

.banner_section .carousel-caption h1{
    font-size: 3.125rem;
    line-height: 1.4;
    font-weight: 900;
    color: gold;
}

.banner_section .carousel-caption h3{
    color: darkblue;
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.2;
    padding: 0.5rem 1.5rem;
    background-color: gold;
    display: inline;
}

.banner_section .carousel-caption p{
    font-size: 2rem;
    line-height: 1.6;
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
    color: white;
    max-width: 40rem;
    margin-bottom: 2rem;
}

/* counter section */
.counter-section{
    background-color: black;
    padding: 2.5rem 0;
}

.counter-section h2{
    color: gold;
    font-size: 2.25rem;
}

.counter-section p{
    color: white;
    text-transform: uppercase;
    margin-bottom: 0;
    
}

.about-section .wrapper{
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}

.about-section img{
    border-radius: 50%;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.about-section h2{
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.3;
    font-variant: small-caps;
}

.about-section h2 span{
    color: gold;
}

.about-section p{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
    letter-spacing: 0.06525rem;
}
.about-section a{
    text-decoration: none;
}

.main-btn{
    padding: 0.625rem 1.875rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: darkblue;
    text-transform: capitalize;
    background-color: gold;
    border-radius: 5px;
}

/* sstoru section4 */
.story-section{
    width: 100%;
    height: 28.125rem;
    background-image: url(../images/no_5.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 5rem;
    text-align: center;
}

.story-section h2{
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.3;
    font-variant: small-caps;
}
.story-section p{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
    letter-spacing: 0.0625rem;
}

/* section5 team section */

section #team{
    display: grid;
    place-items: center;
    padding-bottom: 0;
}

section .section-header{
    position: relative;
    text-align: center;
    font-weight: 900;
    padding-bottom: 1.6rem;
    margin-top: 2rem;

}

.section-header::after{
    content: '';
    height: 3px;
    width: 200px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 100px);
    background: gold;
}

.team{
    max-width: 1000px;
    padding: 0 15px 50px;
    margin: 0 auto 80px auto;
}

.single-item{
    background: rgb(235, 235, 252);
    color: rgb(4, 23, 128);
    padding: 15px;
    margin: 50px 15px;
}

.profile{
    margin-bottom: 30px;
    text-align: center;
}

.img-area{
    margin: 0 15px 15px 15px;

}

.img-area img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 5px 2px 2px grey;
}

.content{
    font-size: 1.3rem;
}

.content p{
    text-align: justify;
    color: darkblue;
    margin-top: 2rem;
    margin-right: 1.2rem;
    font-size: 1.4rem;
}

.socials i{
    margin-right: 1.3rem;
    font-size: 1.6rem;
    cursor: pointer;
}

.bio h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.carousel-control-next-icon,
.carousel-control-prev-icon{
    background-color: rgb(175, 175, 248);
    border-radius: 50%;
}

/* footer section5 */
.footer{
    background: black;
    line-height: 5vh;
}

.footer .footer-link{
    font-size: 1.3rem;
    color: white;
    padding: 0 1.865rem;
}

.footer a{
    font-size: 1.5rem;
    color: white;
    padding: 0 1rem;
    text-decoration: none;
}


/* ABOUT PAGE */
.video-header h3{
    color: darkblue;
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    font-variant: small-caps;
}

.videoGallery .containerG{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    align-items: flex-start;
    padding: 5px 5%;
}

.containerG .main-video{
    background: white;
    border-radius: 5px;
    padding: 0.7rem;
}

.containerG .main-video video{
    width: 100%;
    border-radius: 5px;
}

.containerG .main-video .title{
    color: gold;
    font-size: 1.45rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.containerG .video-list{
    background: white;
    border-radius: 0.2rem;
    height: 32.5rem;
    overflow-y: scroll;
}

.containerG .video-list::-webkit-scrollbar{
    width: 0.45rem;
}

.containerG .video-list::-webkit-scrollbar-track{
    background: gold;
    border-radius: 3.2rem;
}

.containerG .video-list::-webkit-scrollbar-thumb{
    background: grey;
    border-radius: 3.2rem;
}

.containerG .video-list .vid video{
    width: 6.25rem;
    border-end-end-radius: 0.25rem;
}

.containerG .video-list .vid{
    display: flex;
    align-items: center;
    gap: 1rem;
    background: rgb(248, 230, 198);
    border-radius: 0.45rem;
    margin: 0.7rem;
    padding: 0.7rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.containerG .video-list .vid:hover{
    background: white;
}

.containerG .video-list .vid.active{
    background: rgb(154, 154, 245);
}

.containerG .video-list .vid.active .title{
    color: white;
}

/* FAQS PAGE */
#topics{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#topics h2{
    padding-top: 4rem;
    font-size: 3rem;
    font-variant: small-caps;
}

.accordion-item .accordion-button{
    font-size: 1.6rem;
    color: darkblue;
    margin-top: 0.3rem;
}

.accordion-body{
    font-size: 1.3rem;
    background-color: rgb(244, 245, 245);
}

/* contact page */
.contact .section-title{
    font-size: 3rem;
}

.contact .section-subtitle{
    font-size: 1.5rem;
}

.contact .contact-form{
    padding: 5rem;
    box-shadow: 0 0.2rem 1.5rem rgb(0, 0, 0/ 4%);
}

.contact .contact-form .form-control:focus{
    outline: none;
    box-shadow: none;
}

.contact .contact-form .form-control::placeholder{
    color: darkblue;
}

.contact .contact-form .form-control{
    padding: 1rem 1.5rem;
    border-radius: 0rem;
    border: 0.1rem solid gold;
    color: darkblue;
    font-size: 1.5rem;
    font-weight: 400;
}

.contact .contact-form textarea{
    min-height: 15rem;
}
.contact .contact-form .info-box li{
    position: relative;
    padding-left: 7rem;
    padding-bottom: 3rem;
    margin-bottom: 2.4rem;
}

.contact .contact-form .info-box li i{
    position: absolute;
    left: 0;
    top: 1.5rem;
    font-size: 4rem;
    line-height: 4rem;
}

.contact .contact-form .info-box li p{
    font-size: 1.4rem;
}

.contact .contact-form .info-box li a{
    font-size: 2rem;
    margin-bottom: 0;
    font-weight: 400;
}